<!DOCTYPE html>
<html>
<head>
<title>Admin Dashboard</title>

<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>


<div class="top-header">
    <i class="fa-solid fa-train"></i> RailEase
</div>

<nav>
<div class="logo">🚆 RailEase Admin</div>
<div>
<a href="/logout">Logout</a>
</div>
</nav>

<div class="container">
<div class="card">

<h2 class="page-title">Admin Dashboard</h2>

<div class="grid">

<div class="info-card">
<i class="fa-solid fa-train"></i>
<h3>Total Trains</h3>
<p>{{ trains|length }}</p>
</div>

<div class="info-card">
<i class="fa-solid fa-server"></i>
<h3>System Status</h3>
<p>Running</p>
</div>

<div class="info-card">
<i class="fa-solid fa-ticket"></i>
<h3>Bookings</h3>
<p>Live</p>
</div>

</div>

<div class="section">
<h3>Add / Update Train</h3>

<form method="post">

<input name="train_no" placeholder="Train Number" required>
<input name="train_name" placeholder="Train Name" required>
<input name="from_loc" placeholder="From Location" required>
<input name="to_loc" placeholder="To Location" required>
<input name="seats" placeholder="Seats" required>
<input name="cost" placeholder="Cost" required>
<input type="time" name="start" required>
<input type="time" name="end" required>

<button>Save Train</button>

</form>
</div>

<div class="section">
<h3>Train List</h3>

<table>
<tr>
<th>No</th><th>Name</th><th>From</th><th>To</th>
<th>Seats</th><th>Cost</th>
</tr>

{% for t in trains %}
<tr>
<td>{{t.train_no}}</td>
<td>{{t.train_name}}</td>
<td>{{t.from_loc}}</td>
<td>{{t.to_loc}}</td>
<td>{{t.seats}}</td>
<td>{{t.cost}}</td>
</tr>
{% endfor %}

</table>
</div>

</div>
</div>

</body>
</html>
