<!DOCTYPE html>
<html>
<head>
<title>RailEase | Railway Booking System</title>
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet"
 href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>


<nav class="topbar">
<h2><i class="fa-solid fa-train"></i> RailEase</h2>
</nav>

<div class="hero">

<h1>Welcome to RailEase</h1>
<p>Fast • Secure • Smart Railway Ticket Booking System</p>

<div class="role-box">

<div class="role-card">
<i class="fa-solid fa-user-shield"></i>
<h3>Admin Portal</h3>
<p>Manage Trains & System</p>
<a href="/login/admin"><button>Admin Login</button></a>
</div>

<div class="role-card">
<i class="fa-solid fa-user"></i>
<h3>User Portal</h3>
<p>Book Your Journey</p>
<a href="/login/user"><button>User Login</button></a>
</div>

</div>

</div>

</body>
</html>
